.roof-header {
  background: @gray-darker;
  color: @gray-lighter;
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed / 2;

  .roof-logo {
    font-family: @font-family-deco;
    font-size: @font-size-h3;

  }
  .roof-tel {
    font-size: @font-size-large;

  }
}

.roof-title {
  font-family: @font-family-deco;
  margin-top: @line-height-computed;
  font-size: (@font-size-h1 * 2);
  line-height: (@font-size-h1 * 1.5);
  color: @brand-primary;
  margin-bottom: @line-height-computed;

  small {
    font-size: (@font-size-h1 * 1.5);
  }
}

.roof-title-note {
  font-size: @font-size-large;
  font-style: italic;
  margin-bottom: (@line-height-computed * 2);
}

.roof-special {
  background: @brand-primary url("../img/roof.jpg") no-repeat top;
  background-size: 100% auto;
  position: relative;
  padding: 0;
  min-height: 500px;
}

.roof-slider {
  background: @gray-darker;
}

.price {
  font-size: @font-size-large;
  font-family: @font-family-base;
  color: @brand-danger;

  .price-special {
    padding: (@line-height-computed / 2) 0;
  }

  small {
    text-decoration: line-through;
    color: @gray-light;
    padding: 0 (@line-height-computed / 2);
  }

}

.date-limit {
  font-family: @font-family-base;
  font-size: @font-size-base;
  text-transform: uppercase;
  padding: @padding-base-vertical @padding-base-horizontal;
  margin-left: @padding-base-horizontal;
  color: #fff;
  background: @brand-danger;
  border-radius: @border-radius-large;
}

.date-limit-lite {
  font-family: @font-family-base;
  font-size: @font-size-base;
  margin-left: @padding-base-horizontal;
  color: @brand-danger;
}

.duration {
  position: relative;
  margin: @line-height-computed 0 0 0;
  padding-left: 2em;

  i {
    color: @brand-danger;
    display: inline-block;
    position: absolute;
    top: 0.1em;
    left: 0;
  }

}

.gifts {
  position: relative;
  margin: @line-height-computed 0 (@line-height-computed * 2) 0;
  padding-left: 2em;

  i {
    color: @brand-danger;
    display: inline-block;
    position: absolute;
    top: 0.6em;
    left: 0;
  }
}

.roof-explanation {
  font-style: italic;
  margin-bottom: @line-height-computed;

  a {
    padding: 0 (@line-height-computed / 2);
  }
}

.roof-application {
  background-color: lighten(@brand-primary, 70%);
  padding: @line-height-computed;
}

.plan-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.thumbnail-full(@border-color; @triangle-color; @caption) {
  border: 2px solid @border-color;

  h3 {
    margin-top: 0;
  }

  .plan-image {
    position: relative;
    width: auto;
    margin-left: -(@line-height-computed * 2);
    left: @line-height-computed;
    height: 150px;
    margin-bottom: @line-height-computed;
    border: 1px solid #fff;

    &:before {
      position: absolute;
      z-index: 9999;
      bottom: 5px;
      right: 5px;
      color: #fff;
      content: @caption;
      .rotate(-45deg)
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      right: -1px;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 50px solid @triangle-color;
      border-left: 50px solid transparent;
    }
  }

  .invitation {
    color: @gray;
    font-size: @font-size-small;
    padding: @padding-base-vertical @padding-base-horizontal @padding-base-vertical 2em;
    position: relative;

    i {
      display: inline-block;
      position: absolute;
      top: 0.9em;
      left: 0;
      color: @triangle-color;
    }
  }


}

.thumbnail-full-violet {
  .thumbnail-full(#d898d6; #92278f; "хит")
}

.thumbnail-full-orange {
  .thumbnail-full(#f7941d; #e55f06; "хит")
}

.thumbnail-full-green {
  .thumbnail-full(#c8dc8d; #94d42f; "new")
}



.already-purchased {
  color: #a38643;
  background: #fdeecb;
  padding: @padding-base-vertical @padding-base-horizontal;
}

.hits-h1 {
  margin: (@line-height-computed * 2) 0 @padding-base-vertical 0;
  font-size: @font-size-h2;
  text-align: left;
}

.hits-h2 {
  margin: @padding-base-vertical 0;
  font-family: @font-family-base;
  text-align: left;
}

.hits-h3 {
  margin: @padding-base-vertical 0;
  font-family: @font-family-base;
  text-align: left;
}

.hits-phone {
  font-size: @font-size-h3;
  color: #e25794;

  i {
    color: @text-color;
  }
}

.cite {
  color: #b77894;
  background: #f8dcee;
  margin-top: (@line-height-computed * 2);
  padding: @line-height-computed;

  .say {
    font-size: @font-size-large;
    font-style: italic;
  }

  .signature {
    font-size: @font-size-h3;
    font-family: @font-family-deco;

  }
}


.how-works-point {
  font-size: @font-size-large;
  margin: (@line-height-computed * 2) 0 @line-height-computed (@font-size-h2 + (@padding-base-horizontal * 3));
}

.how-works-number {
  display: inline-block;
  position: absolute;
  margin-left: -(@font-size-h2 + (@padding-base-horizontal * 3));
  font-family: @font-family-deco;
  font-size: @font-size-h2;
  color: #fff;
  min-width: (@font-size-h2 * 1.5);
  padding: @padding-base-vertical @padding-base-horizontal;
  background: @brand-danger;
  border-radius: @padding-base-horizontal;
  text-shadow: 0 1px 0 @text-color;
}

.how-works-h1 {
  margin: @line-height-computed 0 @padding-base-vertical 0;
  font-size: @font-size-h2;
  text-align: center;
}

.how-works-h2 {
  margin: @padding-base-vertical 0;
  font-family: @font-family-base;
  text-align: center;
}

.how-works-h3 {
  margin: @padding-base-vertical 0;
  font-family: @font-family-base;
  text-align: center;
  color: @brand-danger;
}

.how-works-phone {
  margin-top: @line-height-computed;
  font-size: @font-size-h4;
}

.appeal {
  color: @brand-danger;
  font-size: @font-size-large;
  font-weight: bold;
  text-align: center;
}

.roof-alert {
  font-size: @font-size-h3;
  border-top: none;

  .close {
    font-size: @font-size-h3;
  }
}

.taxi {
  position: absolute;
  right: 100%;
  bottom: 0;
}





.author-photo {
  border: 3px solid #df9fbb;
}

.photoalbum {

}


