.roof-header {
  background: @gray-darker;
  color: @gray-lighter;
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed / 2;

  .roof-logo {
    font-family: @font-family-deco;
    font-size: @font-size-h3;

  }
  .roof-tel {
    font-size: @font-size-large;

  }
}

.roof-title {
  font-family: @font-family-deco;
  margin-top: @line-height-computed;
  font-size: (@font-size-h1 * 2);
  line-height: (@font-size-h1 * 1.5);
  color: @brand-primary;
  margin-bottom: @line-height-computed;

  small {
    font-size: (@font-size-h1 * 1.5);
  }
}

.roof-title-note {
  font-size: @font-size-large;
  font-style: italic;
  margin-bottom: (@line-height-computed * 2);
}

.roof-slider {
  background: @gray-darker;
}

.roof-price {
  font-size: @font-size-large;
  font-family: @font-family-base;
  color: @brand-danger;

  .special-offer-price {
    padding: (@line-height-computed / 2) 0;
  }

  small {
    text-decoration: line-through;
    color: @gray-light;
    padding: 0 (@line-height-computed / 2);
  }

}

.roof-explanation {
  font-style: italic;
  margin-bottom: @line-height-computed;

  a {
    padding: 0 (@line-height-computed / 2);
  }
}

.roof-application {
  margin-bottom: @line-height-computed;
}

.roof-special {
  background: #111 url("../img/1.jpg") no-repeat center fixed;
  background-size: 100% auto;
  position: relative;
  background-position: 50% 6px;
  height: 500px;
}