.roof-header {
  background: @gray-darker;
  color: @gray-lighter;
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed / 2;

  .roof-logo {
    font-family: @font-family-deco;
    font-size: @font-size-h3;

  }
  .roof-tel {
    font-size: @font-size-large;

  }
}

.roof-title {
  font-family: @font-family-deco;
  margin-top: @line-height-computed;
  font-size: (@font-size-h1 * 2);
  line-height: (@font-size-h1 * 1.5);
  color: @brand-primary;
  margin-bottom: @line-height-computed;

  small {
    font-size: (@font-size-h1 * 1.5);
  }
}

.roof-title-note {
  font-size: @font-size-large;
  font-style: italic;
  margin-bottom: (@line-height-computed * 2);
}

.roof-special {
  background: @brand-primary url("../img/roof.jpg") no-repeat top;
  background-size: 100% auto;
  position: relative;
  padding: 0;
  min-height: 500px;
}

.roof-slider {
  background: @gray-darker;
}

.price {
  font-size: @font-size-large;
  font-family: @font-family-base;
  color: @brand-danger;

  .price-special {
    padding: (@line-height-computed / 2) 0;
  }

  small {
    text-decoration: line-through;
    color: @gray-light;
    padding: 0 (@line-height-computed / 2);
  }

}

.roof-explanation {
  font-style: italic;
  margin-bottom: @line-height-computed;

  a {
    padding: 0 (@line-height-computed / 2);
  }
}

.roof-application {
  background-color: lighten(@brand-primary, 70%);
  padding: @line-height-computed;
}

.plan-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.thumbnail-full(@border-color; @triangle-color; @caption) {
  border: 2px solid @border-color;

  h3 {
    margin-top: 0;
  }

  .plan-image {
    position: relative;
    width: auto;
    margin-left: -(@line-height-computed * 2);
    left: @line-height-computed;
    height: 150px;
    margin-bottom: @line-height-computed;
    border: 1px solid #fff;

    &:before {
      position: absolute;
      z-index: 9999;
      bottom: 5px;
      right: 5px;
      color: #fff;
      content: @caption;
      .rotate(-45deg)
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      right: -1px;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 50px solid @triangle-color;
      border-left: 50px solid transparent;
    }
  }
}

.thumbnail-full-violet {
  .thumbnail-full(#d898d6; #92278f; "хит")
}

.thumbnail-full-orange {
  .thumbnail-full(#f7941d; #e55f06; "хит")
}

.thumbnail-full-green {
  .thumbnail-full(#c8dc8d; #94d42f; "new")
}

.invitation {
  color: @gray-dark;
  font-size: @font-size-small;
}

.already-purchased {
  color: #a38643;
  background: #fdeecb;
  padding: @padding-base-vertical @padding-base-horizontal;
}

.cite {
  color: #b77894;
  background: #f8dcee;
  padding: @line-height-computed;
}


.how-works-point {
  margin-bottom: @line-height-computed;
  margin-left: (@font-size-h2 + (@padding-base-horizontal * 3));
}

.how-works-number {
  display: inline-block;
  position: absolute;
  margin-left: -(@font-size-h2 + (@padding-base-horizontal * 3));
  font-family: @font-family-deco;
  font-size: @font-size-h2;
  color: #fff;
  min-width: (@font-size-h2 * 1.5);
  padding: @padding-base-vertical @padding-base-horizontal;
  background: @brand-danger;
  border-radius: @padding-base-horizontal;
  text-shadow: 0 1px 0 @text-color;
}

.appeal {
  color: @brand-danger;
  font-weight: bold;
  text-align: center;
}

.roof-alert {
  font-size: @font-size-h3;
  border-top: none;

  .close {
    font-size: @font-size-h3;
  }
}

.taxi {
  position: absolute;
  right: 100%;
  bottom: 0;
}

.roof-h1-inline {
  margin: @line-height-computed 0 @padding-base-vertical 0;
  font-size: @font-size-h2;
  text-align: center;
}

.roof-h2-inline {
  margin: @padding-base-vertical 0;
  font-family: @font-family-base;
  text-align: center;
}

.roof-h3-inline {
  margin: @padding-base-vertical 0;
  font-family: @font-family-base;
  text-align: center;
  color: @brand-danger;
}

.author-photo {
  border: 3px solid #df9fbb;
}

.photoalbum {

}


